<form action="/square_root/results">
  <div>
    <label for="user_number">Enter a number</label>
    <input id="user_number" type="text" name="number" placeholder="What number do you want to take the square of?">
  </div>
  <button>Calculate square root</button>
</form>
